// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
//////////////////////////////////////////

.nhsuk-lede-text {
    margin-bottom: 20px;
}


// A-Z Nav -------------------
.letter-list a {
    display: block;
    border: 2px solid #005eb8;
    border-radius: 4px;
    background-color: #fff;
    width: 48px;
    line-height: 44px;
    text-align: center;
    font-size: 1.313rem;
    font-weight: 700;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
}

.letter-list a:hover {
    color: #fff;
    background-color: #005eb8;
}


//.letter-list a:focus {
//    color: #fff;
//    background-color: #005eb8;
//}

.letter-list a:focus {
    background-color: #ffeb3b;
    color: #212b32;
    outline: 4px solid transparent;
    text-decoration: none;
    border: 2px solid #212b32;
}


// Spacing below each letter section -------------------
.nhsuk-card {
    margin-bottom: 20px;

}


// Rotate action link arrow -------------------
.arrow-rotate-up {
    transform: rotate(-90deg);
}


// Change row background colour on hover -------------------
.nhsuk-list--border li {
    border-bottom: 1px solid #d8dde0;
    padding: 16px 0 16px;
    margin-bottom: 0px;
    //background-color: #d8dde0;
}

.az-row li:hover {
    border-bottom-color: #aeb7bd;
    background-color: #eff6fd;
    text-decoration: none;
    border-bottom: 1px solid #aeb7bd;
}


.nhsuk-icon__chevron-left{
    transform: rotate(90deg);
}



// Remove grey line right -------------------
.nhsuk-details__text {
    border-left: none;
    margin-top: 8px;
    padding: 16px;
    padding-left: 0px;
    
}

.row-between-letters {
    margin-top: 28px;
    margin-bottom: 16px;
}













.govuk-frontend-supported .govuk-accordion__section-heading {
    padding: 0;
}

.govuk-accordion__section-heading {
    margin-top: 0;
    margin-bottom: 0;
}

.govuk-frontend-supported .govuk-accordion__section-button {
    width: 100%;
    padding: 10px 0 0;
    border: 0;
    border-top: 1px solid #b1b4b6;
    border-bottom: 10px solid transparent;
    color: #0b0c0c;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
}

// h2
.govuk-accordion__section-button {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.1111111111;
    color: #0b0c0c;
    display: block;
    margin-bottom: 0;
    padding-top: 15px;
}

.govuk-frontend-supported .govuk-accordion__section-heading-text, .govuk-frontend-supported .govuk-accordion__section-summary, .govuk-frontend-supported .govuk-accordion__section-toggle {
    display: block;
    margin-bottom: 13px;
}

.govuk-frontend-supported .govuk-accordion__section-button {
    width: 100%;
    padding: 10px 0 0;
    border: 0;
    border-top: 1px solid #b1b4b6;
    border-bottom: 10px solid transparent;
    color: #0b0c0c;
    background: none;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
}

.govuk-visually-hidden {
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
    -ms-user-select: none;
    user-select: none;
}


.govuk-frontend-supported .govuk-accordion__section-toggle {
    font-size: 1rem;
    line-height: 1.25;
    font-weight: 400;
    color: #1d70b8;
}

.govuk-frontend-supported .govuk-accordion-nav__chevron--down {
    transform: rotate(180deg);
}

.govuk-frontend-supported .govuk-accordion-nav__chevron {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border: .0625rem solid;
    border-radius: 50%;
    vertical-align: middle;
}

.govuk-frontend-supported .govuk-accordion__section-toggle-text, .govuk-frontend-supported .govuk-accordion__show-all-text {
    margin-left: 5px;
    vertical-align: middle;
}

.govuk-frontend-supported .govuk-accordion-nav__chevron {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border: .0625rem solid;
    border-radius: 50%;
    vertical-align: middle;
}